<!--rev slider start-->
<div class="fullwidthbanner">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Retrouvez">
                <!-- MAIN IMAGE -->
                <%= image_tag("bg-3.jpg", :alt => "darkblurbg", :style => "data-bgfit: cover; data-bgposition: left top; data-bgrepeat: no-repeat") %>
                <div class="caption title-2 sft"
                     data-x="0"
                     data-y="50"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="easeOutExpo">
                    Retrouvez ou Découvrez votre Food-Truck
                </div>



                <div class="caption text sfl"
                     data-x="50"
                     data-y="290"
                     data-speed="1000"
                     data-start="1800"
                     data-easing="easeOutExpo">
                     <br>

                </div>
                <div class="caption sfb rev-buttons tp-resizeme"
                     data-x="170"
                     data-y="300"
                     data-speed="500"
                     data-start="1800"
                     data-easing="Sine.easeOut">
                     <button type="button" class="btn btn-theme-bg btn-lg" data-toggle="modal" data-target="#decouvrir">Découvrir</button>
                </div>

                <div class="caption sfb rev-buttons tp-resizeme"
                     data-x="750"
                     data-y="300"
                     data-speed="500"
                     data-start="2100"
                     data-easing="Sine.easeOut">
                     <button type="button" class="btn btn-theme-bg btn-lg" data-toggle="modal" data-target="#retrouver">Retrouver</button>
                </div>

            </li>
            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Découvrez">
                <!-- MAIN IMAGE -->
                <%= image_tag("showcase-4.jpg", :alt => "darkblurbg", :style => "data-bgfit: cover; data-bgposition: left top; data-bgrepeat: no-repeat") %>




                <div class="caption text-center-top sft"
                     data-x="center"
                     data-y="180"
                     data-speed="1000"
                     data-start="1400"
                     data-easing="easeOutExpo">
                    Le Meilleur des Food-Trucks
                </div>

                <div class="caption text-center-btm sfr text-center"
                     data-x="center"
                     data-y="265"
                     data-speed="1000"
                     data-start="1600"
                     data-easing="easeOutExpo">
                    Navigez parmis les menus proposés<br>  Regalez-vous et laissez un avis
                </div>
                <div class="caption sfb rev-buttons tp-resizeme"
                     data-x="center"
                     data-y="350"
                     data-speed="500"
                     data-start="1800"
                     data-easing="Sine.easeOut">
                    <button type="button" class="btn btn-theme-bg btn-lg" data-toggle="modal" data-target="#decouvrir">Découvrir</button>
                </div>
            </li>
            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Food-truckeurs">
                <!-- MAIN IMAGE -->
                <%= image_tag("bg-1.jpg", :alt => "darkblurbg", :style => "data-bgfit: cover; data-bgposition: left top; data-bgrepeat: no-repeat") %>
                <!-- LAYER NR. 1 -->
                <div class="caption title-2 sfr tp-resizeme"
                     data-x="30"
                     data-y="25"
                     data-speed="600"
                     data-start="1200"
                     data-end="9400"
                     data-endspeed="600">Food-Truckeur ?
                </div>

                <!-- LAYER NR. 2 -->
                <div class="caption medium_bg_darkblue sfl medium tp-resizeme"
                     data-x="40"
                     data-y="170"
                     data-speed="600"
                     data-start="1600"
                     data-end="9400"
                     data-endspeed="600"><i class="fa fa-check"></i>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="caption modern_big_redbg sfb medium tp-resizeme"
                     data-x="90"
                     data-y="170"
                     data-speed="600"
                     data-start="1600"
                     data-end="9400"
                     data-endspeed="600">Faites vous connaître
                </div>

                <!-- LAYER NR. 4 -->
                <div class="caption medium_bg_darkblue sfl medium tp-resizeme"
                     data-x="40"
                     data-y="220"
                     data-speed="600"
                     data-start="1800"
                     data-end="9400"
                     data-endspeed="600"><i class="fa fa-check"></i>
                </div>

                <!-- LAYER NR. 5 -->
                <div class="caption modern_big_redbg sfb medium tp-resizeme"
                     data-x="90"
                     data-y="220"
                     data-speed="600"
                     data-start="1800"
                     data-end="9400"
                     data-endspeed="600">Faites savoir votre emplacement
                </div>

                <!-- LAYER NR. 6 -->
                <div class="caption medium_bg_darkblue sfl medium tp-resizeme"
                     data-x="40"
                     data-y="270"
                     data-speed="600"
                     data-start="2000"
                     data-end="9400"
                     data-endspeed="600"><i class="fa fa-check"></i>
                </div>

                <!-- LAYER NR. 7 -->
                <div class="caption modern_big_redbg sfb medium tp-resizeme"
                     data-x="90"
                     data-y="270"
                     data-speed="600"
                     data-start="2000"
                     data-end="9400"
                     data-endspeed="600">Partagez votre menu, vos photos, votre humeur avec vos abonnés
                </div>

                <!-- LAYER NR. 8 -->
                <div class="caption medium_bg_darkblue sfl medium tp-resizeme"
                     data-x="40"
                     data-y="320"
                     data-speed="600"
                     data-start="2200"
                     data-end="9400"
                     data-endspeed="600"><i class="fa fa-check"></i>
                </div>

                <!-- LAYER NR. 9 -->
                <div class="caption modern_big_redbg sfb medium tp-resizeme"
                     data-x="90"
                     data-y="320"
                     data-speed="600"
                     data-start="2200"
                     data-end="9400"
                     data-endspeed="600">Gerez vos commandes
                </div>

                <!-- LAYER NR. 10 -->
                <div class="caption modern_big_redbg sfb medium tp-resizeme"
                     data-x="40"
                     data-y="370"
                     data-speed="600"
                     data-start="2400"
                     data-end="9400"
                     data-endspeed="600">And Much More...
                </div>

            </li>
        </ul>
    </div>
</div><!--full width banner-->
<!--revolution end-->
<div class="modal fade" id="decouvrir" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">On vous trouve les FoodTrucks à proximité</h5>
        <div class="modal-body">
          <p>Cliquez sur 'Autoriser la geolocalisation'<br /> dans l'infobulle de votre navigateur</p>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to " Découvrir ", generalsearch_path, class: "btn btn-theme-bg btn-sm" %>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="retrouver" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= form_tag foodtruckers_path, :method => 'get' do %>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Retrouvez votre Foodtruck</h5>
        <div class="modal-body">
          <%= text_field_tag :search, params[:search], :class => "form-control" , :placeholder => "Rechercher un Food-truck" %></br>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag "Find it !", :class => "btn btn-theme-bg btn-lg"%>
    </div>
    <% end %>
  </div>
</div>
</div>
<div class="divide60"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="center-heading">
                <%= form_tag foodtruckers_path, :method => 'get' do %>
                <%= text_field_tag :search, params[:search], :class => "form-control" , :placeholder => "Rechercher un Food-truck" %></br>
                <%= submit_tag "Find it !", :class => "btn btn-theme-bg btn-lg"%>
              <% end %>
          </div><!-- /.row -->
        </div>
    </div>
  </div><!--center heading end-->

            <div class="divide50"></div>
            <div>
            <div class="row">
                <div class="col-md-3 col-sm-6 margin30">
                    <div class="colored-boxed green">
                        <i class="pe-7s-magic-wand"></i>
                        <h3>Qui vous voulez</h3>
                        <span class="center-line"></span>
                        <p>
                            On retrouve l'emplacement de votre Foodtruck favori
                        </p>
                    </div>
                </div><!--colored boxed col end-->
                <div class="col-md-3 col-sm-6 margin30">
                    <div class="colored-boxed dark">
                        <i class="pe-7s-global"></i>
                        <h3>Où que vous soyez</h3>
                        <span class="center-line"></span>
                        <p>
                            Grâce à la Geolocalisation, indiquez votre postion et on vous trouve les Foodtrucks à proximité
                        </p>
                    </div>
                </div><!--colored boxed col end-->
                <div class="col-md-3 col-sm-6 margin30">
                    <div class="colored-boxed blue">
                        <i class="pe-7s-users"></i>
                        <h3>Restez en contact</h3>
                        <span class="center-line"></span>
                        <p>
                            Suivez votre Foodtruck et on vous notifie quand un foodtruck il pose à proximité
                        </p>
                    </div>
                </div><!--colored boxed col end-->
                <div class="col-md-3 col-sm-6 margin30">
                    <div class="colored-boxed red">
                        <i class="pe-7s-wristwatch"></i>
                        <h3>Gagnez du temps</h3>
                        <span class="center-line"></span>
                        <p>
                            Grâce a la Geolocalisation en temps réel, ne ratez plus votre Foodtruck !
                        </p>
                    </div>
                </div><!--colored boxed col end-->
            </div>
        </div><!--services container-->
        <script>
        jQuery(document).ready(function () {
            revapi = jQuery('.tp-banner').revolution(
                    {
                        delay: 6000,
                        startwidth: 1170,
                        startheight: 600,
                        hideThumbs: 10,
                        fullWidth: "on",
                        forceFullWidth: "on",
                        navigationStyle: "preview4"
                    });
        });
        </script>
