<% @sumprices = 0 %>

        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Vos Foodtrucks</h4>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                        <ol class="breadcrumb">
                            <li><a href="index.html">Accueils</a></li>
                            <li>Vos Foodtrucks</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="divide80"></div>
        <div class="container">
            <div class="row">
              <div class="col-md-6 margin20">
                  <h3 class="heading"><%= @foodtrucker.username %></h3>
                  <p><%= link_to 'Ajouter à mes favoris!', addfavorite_path(@foodtrucker), method: :post, class: "btn btn-theme-bg btn-sm" %></p>
                  <p>
                      <%= @menu.name %>
                  </p>
                  <p><a href="#" class="btn btn-theme-bg">Nous contacter</a></p>
              </div>
              <div class="col-md-6">
                  <%= image_tag("truck.jpg", :alt => "", :size => "500x500", :class => "img-responsive") %>
              </div>

                </div>
            </div>
        </div>
        <div class="divide60"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading">Nos plats</h3>
                </div>
            </div>
            <!-- <div class="row special-feature"> -->
                <div class="col-md-3 col-sm-6 margin20">

                    <div class="s-feature-box text-center">

                        <div class="mask-top">

                          <div class="col-md-6">
                              <%= image_tag("burger.jpg", :alt => "", :size => "500x500", :class => "img-responsive") %>
                          </div>

                            <h4>Hamburger</h4>

                            <table>
                            <tr>
                                <th>Nom du plat</th>
                                <th>Composition</th>
                            </tr>
                            <% @dishes.each do |dish| %>
                            <tr>
                                <td><%= dish.name %></td>
                                <td><%= dish.composition %></td>
                                <td><%= link_to content_tag(:i,nil, class: "fa fa-shopping-cart") + "Ajouter au panier", addtocart_path(dish), method: :post, class: "btn btn-skin btn-lg" %></td>
                            </tr>
                            <% end %>
                            </table>

                        </div>
                        <div class="mask-bottom">
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-6 margin20">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">

                          <div class="col-md-6">
                              <%= image_tag("dogs.jpg", :alt => "", :size => "500x500", :class => "img-responsive") %>
                          </div>

                            <h4>Hots dogs</h4>
                            <p>Classique</p></br>
                            <p>Double</p></br>
                            <p>Danois</p></br>
                            <p>Végé</p></br>
                        </div>
                        <div class="mask-bottom">

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 margin20">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                          <div class="col-md-6">
                              <%= image_tag("coke.jpg", :alt => "", :size => "500x500", :class => "img-responsive") %>
                          </div>

                            <h4>Boissons</h4>
                            <p>Coca</p></br>
                            <p>Perrier</p></br>
                            <p>Ice Tea</p></br>
                            <p>Fanta</p></br>
                        </div>
                        <div class="mask-bottom">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 margin20">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">

                        </div>
                        <div class="mask-bottom">
                          <div class="col-md-6">
                              <%= image_tag("sweety.jpg", :alt => "", :size => "500x500", :class => "img-responsive") %>
                          </div>

                            <h4>Desserts</h4>
                            <p>Tiramisu</p></br>
                            <p>Glaces Magnum</p></br>
                            <p>Muffins</p></br>
                            <p>Part de tarte</p></br>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 margin20">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <table>
                            <% @cart.dishes.each do |dish| %>
                            <tr>
                                <td><%= dish.name %></td>
                                <td><%= dish.price %></td>
                                <td class='product-delete'><%= link_to "Supprimer du panier", removedish_path(dish), method: :post, :class => "btn btn-danger btn-xm" %></td>
                                <% @sumprices += dish.price %>
                            </tr>
                            <% end %>
                            </table>
                            <tr>
                            <td>Total</td>
                            <td class="total"><%=@sumprices%></td>
                            </tr>
                            <%= form_tag buycart_path do %>
                              <article>
                                <% if flash[:error].present? %>
                                  <div id="error_explanation">
                                    <p><%= flash[:error] %></p>
                                  </div>
                                <% end %>
                                <label class="amount">
                                </label>
                              </article>
                              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                      data-description="Montant total du panier :"
                                      data-amount="<%= @sumprices * 100 %>"
                                      data-currency="eur"
                                      data-locale="auto"></script>
                            <% end %>
                        </div>
                        <div class="mask-bottom">

                    </div>
                </div>
            </div>
            <div class="divide70"></div>
            <div>
              <table>
                <% @posts.each do |post| %>
                <tr>
                  <td><%= post.content %></td>
                  <td>Posté le : <%= post.created_at %> par : <%=post.user.username%></td>
                  <td><%= link_to like_post_path(post), method: :put do %>  Upvote : <%= post.get_upvotes.size %><% end %></td>
                  <td><%= link_to dislike_post_path(post), method: :put do %>   / Downvote : <%= post.get_downvotes.size %><% end %></td>
                </tr>
                <% end %>
              </table>
            </div>

            <%= form_tag (posts_path(foodtrucker_id: @foodtrucker.id)) do %>

              <% if @post.errors.any? %>
                <div id="error_explanation">
                  <h2>
                    <%= pluralize(@gpost.errors.count, "error") %> prohibited
                    this article from being saved:
                  </h2>
                  <ul>
                    <% @post.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <%= label_tag 'text', 'Votre avis :' %>
              <%= text_field_tag 'content' %>
              <%= submit_tag 'Poster!' %>
            <% end %>

            <div class="row">

                </div><!--services col-->
            </div><!--services row-->
        </div><!--.container-->
        <div class="divide60"></div>
