



        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Connexion</h4>
                    </div>
                </div>
            </div>
        </div><!--breadcrumbs-->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

      <div class="divide80"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <form>
                                    <div class="form-group">
                                      <i class="icon-append fa fa-envelope-o"></i>
                                      <%= f.label "Email" %>
                                      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Votre adresse mail", class: "form-control" %>
                                    </div>

                                    <div class="form-group">
                                      <i class="icon-append fa fa-lock"></i>
                                      <%= f.label "Mot de passe" %>
                                      <%= f.password_field :password, autocomplete: "off", placeholder: "Votre mot de passe ", class: "form-control" %>   
                                    </div>  

                                      <% if devise_mapping.rememberable? -%>
                                    <div class="form-group">
                                      <%= f.check_box :remember_me %>
                                      <%= f.label "Se souvenir de moi" %>
                                    </div>
                                      <% end -%>
                                      <%= link_to "Mot de passe oublié?", new_password_path(resource_name), style: 'color:darkblue' %>
                                    <div class="pull-right">
                                       <%= f.submit "Se connecter", class: "btn btn-theme-bg btn-sm",style:'color:#FFFFFF'%>
                                    </div>
                                    <div class="clearfix"></div>
                                      
                                    <% end %>                                    
                                </form>
                                
                            </div><!--register tab end-->
                      <div class="col-md-3"></div>
                      <div class="col-md-4">
                        <div class="divide80"></div>
                        <div class="login-form center">


                        <h3>Je n'ai pas de compte!</h3>

                        <br>
                          <%= link_to "Inscrivez-vous", new_user_registration_path, class: "btn btn-theme-dark btn-sm",style:'color:#FFFFFF'%>
                                            </div>

                      
                          </div>
                        </div>
                      </div>
                    
                          </div>
                        </div>
                      </div>
                      <div class="divide80"></div>
  <div class="breadcrumb-wrap">
  </div>


