        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Page d'édition du foodtruck</h4>
                    </div>
                </div>
            </div>
        </div><!--breadcrumbs-->
        <div class="divide80"></div>
<div class="container">
		<div class="col-md-2"></div>
            <div class="row">
                <div class="col-md-8">
                   <%= form_tag (addaddress_path) do %>
                    <form>
                    	<h3>Vous pouvez ajouter vos adresses préférées </h3>
                      <div class="form-group">
                       <i class="icon-append fa fa-compass"></i>
                       <%= label_tag 'text', 'Adresse :' %> <br>
                       <%= text_field_tag 'address', nil, placeholder: "ex: 12 rue du foodtruck, Paris, France", class: "form-control", title: "ex: 12 rue du foodtruck, Paris, France" %>                           
                     </div>
                     <div class="pull-right">
                        <%= submit_tag 'Ajouter une adresse', class: "btn btn-theme-bg btn-sm",style:'color:#FFFFFF'%>
                     </div>                    
                     <% end %>
                 </form>
             </div>
         </div>
     </div>
     <div class="divide40"></div>
	<hr>


<table class="table table-hover">
	<thead>
     <tr>
      	<th>Adresse</th>
        <th>Condition</th>
        <th>Action</th>
     </tr>
    </thead>
	
	<% @addresses.each do |address| %>
	<tr>
		<td><%= address.address %></td>

			<% if address.actual == true %>
				<td> <strong>Ma position</strong></td>
				<td><%= link_to "c'est fini", beunactual_path(@foodtrucker), method: :post, class: "btn btn-danger" %></td>
			<% else %>
			<td></td>

			<td><%= link_to 'Je suis là', beactual_path(address, foodtrucker_id: @foodtrucker.id), method: :post, class: "btn btn-theme-bg btn-sm" %></td>

		<% end %>
		
	</tr>
	<% end %>
</table>

<div class="breadcrumb-wrap"></div>
<div class="divide40"></div>
<div class="container">
      <div class="center">
	     <h3>Description : <%= @foodtrucker.menu.name %></h3><br/>
        <button type="button" class="btn btn-theme-bg btn-sm" data-toggle="modal" data-target="#Edit">Editer la description</button>
      </div>
    </div>


<div class="modal fade" id="Edit" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Edition de la description</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                      <%= form_tag (updatemenu_path) do %>
                    <form>
                      <div class="form-group">
                       <i class="icon-append fa fa-book"></i>
                       <%= label_tag 'text', 'décrivez votre cuisine' %> <br>
                       <%= text_field_tag 'name', nil, placeholder: "ex: déclinaison de burger en tout genre", class: "form-control", title: "ex: déclinaison de burger en tout genre" %>                           
                     </div>
                     <div class="pull-right">
                        <%= submit_tag 'Mise à jour', class: "btn btn-theme-bg btn-sm",style:'color:#FFFFFF'%>
                     </div>                    
                     <% end %>
                 </form>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

<hr>
<div class="divide80"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
			<table class="table table-hover">
				<thead>
				 <h3>Plat</h3>
			     <tr>
			      	<th>Nom</th>
			        <th>composition</th>
			        <th>prix</th>
			        <th></th>
			     </tr>
			    </thead>
				
				<% @foodtrucker.menu.dishes.each do |dish| %>
				<tr>
					<td><%= dish.name %></td>
					<td><%= dish.composition %></td>
					<td><%= dish.price.to_s + "€"%></td>
					<td><%= link_to content_tag(:i, nil, class: "fa fa-trash"), removedishe_path(dish.id), method: :post, class: "btn btn-danger btn-ico" %></td>
				</tr>
				<% end %>
			</table>
		</div>
		<div class="col-md-6">
                   <%= form_tag (newdish_path) do %>
                    <form>
                    	<h3><i class="icon-append fa fa-edit"></i>Ajouter un nouveau plat </h3>
                      <div class="form-group">
                       <%= label_tag 'text', 'Nom du plat :' %>
                       <%= text_field_tag 'name', nil, placeholder: "ex: pizza 4 fromages", class: "form-control" %>                           
                     </div>
                      <div class="form-group">
                       <%= label_tag 'text', 'Composition du plat :' %>
                       <%= text_field_tag 'composition', nil, placeholder: "ex: parmesan, gorgonzola, mozzarella, chèvre", class: "form-control" %>                           
                     </div>

                      <div class="form-group">
                       <%= label_tag 'float', 'prix du plat :' %>
                       <%= text_field_tag 'price', nil, placeholder: "ex: 15 (ne pas indiquer la devise)", class: "form-control" %>                           
                     </div>

                     <div class="pull-right">
                        <%= submit_tag 'Ajouter un plat', class: "btn btn-theme-bg btn-sm",style:'color:#FFFFFF'%>
                     </div>                    
                     <% end %>
                 </form>			
		</div>
	</div>
</div>
<hr>
<div class="container">
    <div class="row">
		<div class="col-md-6">
                   <%= form_tag (newsidedish_path) do %>
                    <form>
                    	<h3><i class="icon-append fa fa-edit"></i>Ajouter un accompagnement </h3>
                      <div class="form-group">
                       <%= label_tag 'text', "Nom de l'accompagnement :" %>
                       <%= text_field_tag 'name', nil, placeholder: "ex: portion de frites", class: "form-control" %>                           
                     </div>
                      <div class="form-group">
                       <%= label_tag 'float', "Prix de l'accompagnement :" %>
                       <%= text_field_tag 'price', nil, placeholder: "ex: 2 (ne pas indiquer la devise)", class: "form-control" %>                           
                     </div>

                     <div class="pull-right">
                        <%= submit_tag 'Ajouter un accompagnement', class: "btn btn-theme-bg btn-sm",style:'color:#FFFFFF'%>
                     </div>                    
                     <% end %>
                 </form>			
		</div>
        <div class="col-md-6">
			<table class="table table-hover">
				<thead>
				 <h3>Accompagnement</h3>
			     <tr>
			      	<th>Nom</th>
			        <th>prix</th>
			        <th></th>
			     </tr>
			    </thead>
				
				<% @foodtrucker.menu.sidedishes.each do |sidedish| %>
				<tr>
					<td><%= sidedish.name %></td>
					<td><%= sidedish.price.to_s + "€"%></td>
					<td><%= link_to content_tag(:i, nil, class: "fa fa-trash"), removesidedish_path(sidedish.id), method: :post, class: "btn btn-danger btn-ico" %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6">
			<table class="table table-hover">
				<thead>
				 <h3>Dessert</h3>
			     <tr>
			      	<th>Nom</th>
			        <th>description</th>
			        <th>prix</th>
			        <th></th>
			     </tr>
			    </thead>
				
				<% @foodtrucker.menu.deserts.each do |desert| %>
				<tr>
					<td><%= desert.name %></td>
					<td><%= desert.description %></td>
					<td><%= desert.price.to_s + "€"%></td>
					<td><%= link_to content_tag(:i, nil, class: "fa fa-trash"), removedesert_path(desert.id), method: :post, class: "btn btn-danger btn-ico" %></td>
				</tr>
				<% end %>
			</table>
		</div>
		<div class="col-md-6">
                   <%= form_tag (newdesert_path) do %>
                    <form>
                    	<h3><i class="icon-append fa fa-edit"></i>Ajouter un dessert </h3>
                      <div class="form-group">
                       <%= label_tag 'text', 'Nom du dessert :' %>
                       <%= text_field_tag 'name', nil, placeholder: "ex: tiramisu", class: "form-control" %>                           
                     </div>
                      <div class="form-group">
                       <%= label_tag 'text', 'Composition du plat :' %>
                       <%= text_field_tag 'description', nil, placeholder: "ex: pâtisserie traditionnelle de la cuisine italienne", class: "form-control" %>                           
                     </div>

                      <div class="form-group">
                       <%= label_tag 'float', 'prix du dessert :' %>
                       <%= text_field_tag 'price', nil, placeholder: "ex: 7 (ne pas indiquer la devise)", class: "form-control" %>                           
                     </div>

                     <div class="pull-right">
                        <%= submit_tag 'Ajouter un dessert', class: "btn btn-theme-bg btn-sm",style:'color:#FFFFFF'%>
                     </div>                    
                     <% end %>
                 </form>			
		</div>
	</div>
</div>
<hr>
<div class="container">
    <div class="row">
		<div class="col-md-6">
                   <%= form_tag (newdrink_path) do %>
                    <form>
                    	<h3><i class="icon-append fa fa-glass"></i>Ajouter une boisson </h3>
                      <div class="form-group">
                       <%= label_tag 'text', "Nom de la boisson :" %>
                       <%= text_field_tag 'name', nil, placeholder: "ex: Limonade", class: "form-control" %>                           
                     </div>
                      <div class="form-group">
                       <%= label_tag 'float', "Prix de la boisson :" %>
                       <%= text_field_tag 'price', nil, placeholder: "ex: 2 (ne pas indiquer la devise)", class: "form-control" %>               
                     </div>

                     <div class="pull-right">
                        <%= submit_tag 'Ajouter une boisson', class: "btn btn-theme-bg btn-sm",style:'color:#FFFFFF'%>
                     </div>                    
                     <% end %>
                 </form>			
		</div>
        <div class="col-md-6">
			<table class="table table-hover">
				<thead>
				 <h3>Boisson</h3>
			     <tr>
			      	<th>Nom</th>
			        <th>prix</th>
			        <th></th>
			     </tr>
			    </thead>
				
				<% @foodtrucker.menu.drinks.each do |drink| %>
				<tr>
					<td><%= drink.name %></td>
					<td><%= drink.price.to_s + "€"%></td>
					<td><%= link_to content_tag(:i, nil, class: "fa fa-trash"), removedrink_path(drink.id), method: :post, class: "btn btn-danger btn-ico" %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>

     <div class="divide40"></div>

<div class="breadcrumb-wrap"></div>
     <div class="divide40"></div>
<div class="container">
		<div class="col-md-3"></div>
            <div class="row">
                <div class="col-md-5">
                   <%= form_for @photo, url: addphoto_path(@foodtrucker) do |f| %>
                    <form>
                    	<h3>Vous pouvez ajouter des images </h3>
                      <div class="form-group">
                       <i class="icon-append fa fa-camera"></i>
                       <%= f.label :image %> <br>
                       <%= f.file_field :image, class: "form-control-file" %>                           
                     </div>
                     <div class="pull-right">
                        <%= f.submit 'Ajouter une image', class: "btn btn-theme-bg btn-sm",style:'color:#FFFFFF'%>
                     </div>                    
                     <% end %>
                 </form>
             </div>
         </div>
     </div>
     <div class="divide40"></div>


<div class="container">
    <div class="row">
        <div class="portfolio-box iso-call col-3-space">
        	<h3> vos images </h3>
			
	<% if @foodtrucker.photos %>

		<% @photos.each do |photo| %>

		<div class="project-post photography web-design">
            <div class="item-img-wrap ">
	            <div><%= image_tag photo.image.url, :class => "img-responsive" %></div>
	   			<div class="work-desc">
                <span><%= link_to content_tag(:i, nil, class: "fa fa-trash") + 'Supprimer' , removephoto_path(photo, foodtrucker_id: @foodtrucker.id), method: :post, class: "btn btn-danger btn-ico btn-lg" %></span>
                </div><!--work desc-->   		
	
    	<% end %>   
	<% end %>
				</div>
        	</div><!--project post-->
    	</div>
    </div>
</div><!--container-->

<div class="breadcrumb-wrap"></div>

  