<div>
<%= form_for @photo, url: addphoto_path(@foodtrucker) do |f| %>
  
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
 
  <%= f.submit %>
<% end %>
</div>

<div>
	<% if @foodtrucker.photos.exists? %>
	   <% @foodtrucker.photos.each do |photo| %>
	   
	    <%= image_tag(photo.image.url)  %>
	   	<%= link_to 'Supprimer la photo', removephoto_path(photo), method: :post %>	
	   <% end %>
	<% end %>
</div>

<%= form_tag (addaddress_path) do %>
<%= label_tag 'text', 'Adresse :' %>
<%= text_field_tag 'address' %>
<%= submit_tag 'Ajouter une adresse' %>
<% end %>
<br/>
<table>
	
	<% @addresses.each do |address| %>
	<tr>
		<td><%= address.address %></td>
		<td><%= link_to 'Se rendre disponible', beactual_path(address), method: :post %></td>
		<% if address.actual == true %>
		<td>	Je suis ici en ce moment!</td>
		<% end %>
		
	</tr>
	<% end %>
</table>
<br />
<td><%= link_to 'Se rendre indisponible', beunactual_path(@foodtrucker), method: :post %></td>