<table>
	<tr>
		<th>Le nom du food truck</th>
		<th>Code Postal   </th>
		<th>     Adresse</th>
	</tr>
	<% @foodtrucker.each do |f| %>
	<tr>
		<td><%= f.username %></td>
		<td><%= f.postalcode %></td>
		<td><%= f.streetadresses.where(actual: true).last.address %></td>
	</tr>
	<% end %>
</table>

<style>
      #map {
        height: 600px;
				width: 100%;
			 }
</style>
<%= content_tag "div", id: 'address_information', data: {address: @address} do %>
<div id="map"></div>
<% end %>
<script>
		 jQuery(document).ready(function(){
			 var map = new GMaps({
 				el: '#map',
 			});

				var geocode = new GMaps.geocode({
			  address: $('#address_information').data('address'),
			  callback: function(results, status) {
			    if (status == 'OK') {
			      var latlng = results[0].geometry.location;
			      map.setCenter(latlng.lat(), latlng.lng());
			      map.addMarker({
							animation: google.maps.Animation.DROP,
			        lat: latlng.lat(),
			        lng: latlng.lng(),
							infoWindow: {
								content: '<% @foodtrucker.each do |f| %><%= f.username %><% end %>'
							}
			      });
			    }
			  }
			});
    });
		 </script>
