<div class="top-bar-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 hidden-xs">
                <div class="top-bar-socials">
                    <a href="https://www.facebook.com/Find-Your-Truck-2025042367754486/" class="social-icon-sm si-dark si-gray-round si-colored-facebook">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/PierreOssun" class="social-icon-sm si-dark si-gray-round si-colored-twitter">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-8 text-right">
                <ul class="list-inline top-dark-right">
                    <% if user_signed_in? %>
                    <li><%= link_to "Profil", edit_user_registration_path %></li>
                    <li><%= link_to content_tag(:i, nil, class: 'pe-7s-user') + " Deconnexion ", destroy_user_session_path, :method => :delete %></li>
                    <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
                    <% elsif foodtrucker_signed_in? %>
                    <li><button type="button" class="btn btn-default" data-toggle="modal" data-target="#profil">Profil</button></li>
                    <li><%= link_to content_tag(:i, nil, class: 'pe-7s-user') + " Deconnexion ", destroy_foodtrucker_session_path, :method => :delete %></li>
                    <% elsif admin_signed_in? %>
                    <li><button type="button" class="btn btn-default" data-toggle="modal" data-target="#profil">Profil</button></li>
                    <li><%= link_to content_tag(:i, nil, class: 'pe-7s-user') + " Deconnexion ", destroy_admin_session_path, :method => :delete %></li>
                    <% else %>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-theme-bg btn-sm" data-toggle="modal" data-target="#connexion">Connexion</button>
                    <button type="button" class="btn btn-theme-bg btn-sm" data-toggle="modal" data-target="#inscription">Inscription</button>
                    <% end %>

                     <!-- Modal connexion -->
                    <div class="modal fade" id="connexion" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Choix du profil de connexion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <%= link_to " Utilisateur ", new_user_session_path, class: "btn btn-theme-bg btn-sm" %> <div class="col-md-6">
                            <%= link_to " Foodtrucker ", new_foodtrucker_session_path, class: "btn btn-theme-bg btn-sm" %>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                    <!-- Modal inscription-->
                    <div class="modal fade" id="inscription" tabindex="2" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Choix du profil d'inscription</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <%= link_to " Utilisateur ", new_user_registration_path, class: "btn btn-theme-bg btn-sm" %> <div class="col-md-6">
                            <%= link_to " Foodtrucker ", new_foodtrucker_registration_path, class: "btn btn-theme-bg btn-sm" %>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
                <% if current_foodtrucker %>
                    <div class="modal fade" id="profil" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Choix du profil foodtrucker</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <% if foodtrucker_signed_in? %>
                            <%= link_to " La page du Foodtruck ", edit_foodtrucker_path(current_foodtrucker.id), class: "btn btn-theme-bg btn-sm" %><div class="col-md-6">
                            <%= link_to " Compte ", edit_foodtrucker_registration_path, class: "btn btn-theme-bg btn-sm" %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <% end %>
                    </div>

                </div>

                </ul>
            </div>
        </div>
    </div>
</div><!--top-bar-dark end here-->
<!--navigation -->
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to image_tag('logo.png', size: "70x50"), root_path %>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown active ">
                  <%= link_to "Accueil", root_path, class: "dropdown-toggle" %>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle " data-toggle="dropdown">Trouver <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu multi-level" role="menu">
                          <li>
                          <a type="button" class="btn btn-lg" data-toggle="modal" data-target="#decouvrir">À proximité</a>
                          </li>
                          <li>
                          <a type="button" class="btn btn-lg" data-toggle="modal" data-target="#retrouver">Par nom</a>
                          </li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--container-->
</div><!--navbar-default-->
